name: Run deploy to prod

on:
  push:
    tags:
      - '*'
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  print-env:
    runs-on: ubuntu-latest
    steps:
      - name: Print env
        run: env | sort
